@model List<WebShopItems>

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <header>
        My Shop
            <nav>           
                <a href="@Url.Action("OnlyAvailable")" class="myButton">ONLY AVAILABLE</a>          
                <a href="@Url.Action("ChepestFirst")" class="myButton">CHEPEST FIRST</a>
                <button type="submit" class="myButton">CONTAINS NIKE</button>
                <button type="submit" class="myButton">AVARAGE STOCK</button>
           </nav>

        <div>
            <label for="searchFor">Search for:</label>
            <input name="searchFor" type="text" id="searchFor">
            <button type="submit" class="myButton">SEARCH</button>
        </div>
    </header>
   <main>
       <table>
           <thead>
               <tr>
                   <th>Name</th>
                   <th>Description</th>
                   <th>Price</th>
                   <th>Quantity of stock</th>
               </tr>
           </thead>
           <tbody>
              @foreach (var item in ViewBag.items)
               { 
               <tr>
                  <td>@item.Name</td>
                  <td>@item.Description</td>
                  <td>@item.Price</td>
                  <td>@item.QuantityOfStock</td>
               </tr>
               }
           </tbody>
       </table>
   </main>
</body>
